{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
  <div class="container">
    <h1 class="header-shelf"><a href="/">Squad 1G</a></h1>

    <div class="dropdown">
      <button class="btn-dropdown">Sorteer</button>
      <div class="dropdown-content">
        <a href="/">A-Z (squad 1G)</a>
        <a href="/sort/age">oud-jong </a>
      </div>
      </div>
      <div class="dropdown">
      <button class="btn-dropdown">Filter</button>
      <div class="dropdown-content">
        <a href="/?filter=Drama">Drama</a>
        <a href="/?filter=Thriller">Thriller</a>
        <a href="/?filter=Action">Action</a>
        <a href="/?filter=Comedy">Comedy</a>
      </div>
      </div>
  </div>

  <div class="bookshelf"></div>

  <ul class="book-container">
    {% for person in persons %}
    {% assign remainder = forloop.index | modulo: 8 %}

    <li class="book {{ person.fav_book_genre | downcase }}">
      <button popovertarget="{{ person.id }}">{{ person.name | split: ' ' | first }}</button>
      <div popover id="{{ person.id }}">
        <h2>{{ person.name }}</h2>
        <p>Hi mijn naam is {{ person.name }}.
          Ik ben geboren op {{ person.birthdate | date: "%d-%m-%Y"}}.
          Ik lees het liefst '{{ person.fav_book_genre }}' boeken.
          Voor de maaltijd '{{ person.fav_kitchen }}' mag je mij wel wakker maken.
          'S ochtends heb ik wel echt een '{{ person.fav_coffee }}' nodig om wakker te worden.
          Verder ben ik in mijn vrije tijd het liefst bezig met {{ person.fav_hobby }}.</p>
        <img src="{{ person.avatar }}" alt="Avatar van {{ person.name }}">

        <h3>Laat een review achter!</h3>
        <form method="post" action="/person/{{ person.id }}">
          <label>Naam:
            <input type="text" name="from" required>
          </label>
          <label>Bericht:
            <textarea name="text" required></textarea>
          </label>
        <button type="submit">Verstuur</button>
        </form>

        <h3>Reviews</h3>
        {% for message in messages %}
          {% assign messageID = message.for %}
          {% assign id = messageID | split: " " | last | to_integer %}

          {% if id == person.id %}
            <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </li>

    {% comment %} Na elke achtste persoon, sluit de <ul>, voeg een plank toe, en start een nieuwe <ul>. {% endcomment %}
    {% if remainder == 0 %}
      </ul>
      <div class="bookshelf"></div>
      <ul class="book-container">
    {% endif %}

    {% comment %} Na de laatste persoon, sluit de <ul> af en voeg een laatste plank toe. {% endcomment %}
    {% if forloop.last %}
      </ul>
      <div class="bookshelf"></div>
    {% endif %}
  {% endfor %}
</main>

{% render 'partials/foot.liquid' %}