{% render 'partials/head.liquid', title: 'Squad page' %}

<main>
  <div class="container">
    <h1 class="header-shelf">Squad 1G</h1>
    <ul>
      <li class="book-sort-filter">
        <label for="filter">Filter By:</label>
        <select id="filter">
          <option value="#">Available</option>
          <option value="#">Out of Stock</option>
          <option value="#">On Sale</option>
          <option value="#">...</option>
        </select>
      </li>
      <li class="book-sort-filter">
        <label for="Sort">Sort By:</label>
        <select id="Sort">
          <option value="available">Available</option>
          <option value="out-of-stock">Out of Stock</option>
          <option value="on-sale">On Sale</option>
          <option value="new">New Arrivals</option>
        </select>
      </li>
    </ul>
  </div>

<div class="bookshelf">
    <div class="shelf"></div>
    <div class="support left"></div>
    <div class="support right"></div>
  </div>
  
  <ul class="book-container">
    {% for person in shelf1 %}
      <li class="book">
        <button class="{{ person.fav_book_genre | downcase }}" popovertarget="{{ person.id }}">{{ person.name | split: ' ' | first }}</a></button>
        <div class="popover-styling" popover id="{{ person.id }}">
          {{ person.name }}
          {{ person.birthdate }}
          {{ person.fav_book_genre }}
          {{ person.fav_coffee }}
        </div>
      </li>
    {% endfor %}
  </ul>
  
  <div class="bookshelf">
    <div class="shelf"></div>
    <div class="support left"></div>
    <div class="support right"></div>
  </div>
  
  <ul class="book-container">
    {% for person in shelf2 %}
      <li class="book">
        <button class="{{ person.fav_book_genre | downcase }}" popovertarget="{{ person.id }}">{{ person.name | split: ' ' | first }}</a></button>
        <div popover id="{{ person.id }}">
          {{ person.name }}
          {{ person.birthdate }}
          {{ person.fav_book_genre }}
          {{ person.fav_coffee }}
        </div>
      </li>
    {% endfor %}
  </ul>
  
  <div class="bookshelf">
    <div class="shelf"></div>
    <div class="support left"></div>
    <div class="support right"></div>
  </div>
  
  <ul class="book-container">
    {% for person in shelf3 %}
      <li class="book">
        <button class="{{ person.fav_book_genre | downcase }}" popovertarget="{{ person.id }}">{{ person.name | split: ' ' | first }}</a></button>
        <div popover id="{{ person.id }}">
          {{ person.name }}
          {{ person.birthdate }}
          {{ person.fav_book_genre }}
          {{ person.fav_coffee }}
        </div>
      </li>
    {% endfor %}
  </ul>
  
  <div class="bookshelf">
    <div class="shelf"></div>
    <div class="support left"></div>
    <div class="support right"></div>
  </div>
  
  <ul class="book-container">
    {% for person in shelf4 %}
      <li class="book">
        <button class="{{ person.fav_book_genre | downcase }}" popovertarget="{{ person.id }}">{{ person.name | split: ' ' | first }}</a></button>
        <div popover id="{{ person.id }}">
          {{ person.name }}
          {{ person.birthdate }}
          {{ person.fav_book_genre }}
          {{ person.fav_coffee }}
        </div>
      </li>
    {% endfor %}
  </ul>
  
  <div class="bookshelf">
    <div class="shelf"></div>
    <div class="support left"></div>
    <div class="support right"></div>
  </div>
</main>

{% comment %} <dialog class="modal">
		<h2>chat met ...</h2>
    <p>we gaan even testen blaa blaa..</p>
    
    <button class="close-btn">cancel</button>
  </dialog> {% endcomment %}



<h2>Huidige berichten</h2>

{% for message in messages %}
<p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
{% else %}
<p>Er zijn nog geen berichten voor dit team.</p>
{% endfor %}

<h2>Voeg een bericht toe</h2>
<form method="post" action="/">
  <label>
    Naam:
    <input type="text" name="from" required>
  </label>
  <label>
    Bericht:
    <textarea name="text" required></textarea>
  </label>
  <button type="submit">Verstuur</button>
</form>

{% render 'partials/foot.liquid' %}