{% render 'partials/head.liquid', title: 'Squad page' %}

<h1 class="header-shelf">Squad 1G</h1>
<div class="bookshelf">
  <div class="shelf"></div>
  <div class="support left"></div>
  <div class="support right"></div>
</div>

<ul class="book-container">
  {% for person in shelf1 %}
    <li class="book {{ person.fav_book_genre | downcase }}">
      <a href="/student/{{ person.id }}">{{ person.name | split: ' ' | first }}</a>
    </article>
  {% endfor %}
</ul>

<div class="bookshelf">
  <div class="shelf"></div>
  <div class="support left"></div>
  <div class="support right"></div>
</div>

<ul class="book-container">
  {% for person in shelf2 %}
    <li class="book {{ person.fav_book_genre | downcase }}">
      <a href="/student/{{ person.id }}">{{ person.name | split: ' ' | first }}</a>
    </article>
  {% endfor %}
</ul>

<div class="bookshelf">
  <div class="shelf"></div>
  <div class="support left"></div>
  <div class="support right"></div>
</div>

<ul class="book-container">
  {% for person in shelf3 %}
    <li class="book {{ person.fav_book_genre | downcase }}">
      <a href="/student/{{ person.id }}">{{ person.name | split: ' ' | first }}</a>
    </article>
  {% endfor %}
</ul>

<div class="bookshelf">
  <div class="shelf"></div>
  <div class="support left"></div>
  <div class="support right"></div>
</div>

<h2>Huidige berichten</h2>

{% for message in messages %}
  <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
{% else %}
  <p>Er zijn nog geen berichten voor dit team.</p>
{% endfor %}

<h2>Voeg een bericht toe</h2>
<form method="post" action="/">
  <label>
    Naam:
    <input type="text" name="from" required>
  </label>
  <label>
    Bericht:
    <textarea name="text" required></textarea>
  </label>
  <button type="submit">Verstuur</button>
</form>

{% render 'partials/foot.liquid' %}
